flask # Instala la dependencia de Flask para crear aplicaciones web
numpy # Instala la dependencia de NumPy para realizar cálculos numéricos
gunicorn # Instala la dependencia de Gunicorn para servir la aplicación Flask en producción